/* التمرير السلس للموقع */
html {
    scroll-behavior: smooth;
}

/* تنسيق بسيط للواجهة */
header {
    background-color: #2c3e50 !important;
    min-height: 300px;
    display: flex;
    align-items: center;
}